body{
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Oxygen', sans-serif;
}

.text-primary {
    color: #c73e42;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.location-url a{
    color: white;
}

.location-url a:hover{
    text-decoration: underline;
}